<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/default :: head('MemberLogin')">
<meta charset="UTF-8">
<title>Member Join</title>
</head>
<body>
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- Jumbo -->
	<div th:replace="/fragments/default :: jumbo"></div>
	<!-- /member/memberJoin -->
	<!-- com....member.MemberController.setJoin() -->
	<h1>Member Login Page</h1>
	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>

</body>
</html>